<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
    李极乐空间
</div>
<form action="/quant/index/" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>用户名</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td><input type="submit" value="登录"></td>
        </tr>
    </table>
</form>

</body>
</html>

<style>
    .card{
        width: 400px;
        margin: 0 auto;
        margin-top: 100px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        background-color: red;
    }
</style>